extends layout

block content
  div.hero-unit
    h1= title
    p Welcome to #{title}
    div.row
      div.span4
        canvas#display1v(width="",height="")
      div.span4
        p 2
      div.span4
        p 3
    div.row
      div.span4
        canvas#display1a(width="",height="")
      div#span4
      div#span4
      