extends layout

block content
    div.jumbotron
        h1= title
        p Welcome to #{title}
        div.row
            div.col-md-4.well-lg(style="width: 350px; height: 200px")
                div.col-md-4.well-lg(style="width: 300px; height: 150px; background: rgb(36, 30, 30)")
                    canvas#display1v(style="width: 100%; display: block")
                    script display1v = HydraDisplay("display1v", "#ff2c0f", "#331605")
                div#slider1v.col-md-4.well-lg(style="width: 100%")
            div.col-md-4.well-lg(style="width: 350px; height: 200px")
                div.col-md-4.well-lg(style="width: 300px; height: 150px; background: rgb(36, 30, 30)")
                    canvas#display2v(style="width: 100%; display: block")
                    script display2v = HydraDisplay("display2v", "#ff2c0f", "#331605")
                div#slider2v.col-md-4.well-lg(style="width: 350px")
            div.col-md-4.well-lg(style="width: 350px; height: 200px")
                div.col-md-4.well-lg(style="width: 300px; height: 150px; background: rgb(36, 30, 30)")
                    canvas#display3v(style="width: 100%; display: block")
                    script display3v = HydraDisplay("display3v", "#ff2c0f", "#331605")
                div#slider3v.col-md-4.well-lg(style="width: 350px")
        div.row
            div.col-md-4.well-lg(style="width: 350px; height: 200px")
                div.col-md-4.well-lg(style="width: 300px; height: 150px; background: rgb(36, 30, 30)")
                    canvas#display1a(style="width: 100%; display: block")
                    script display1a = HydraDisplay("display1a", "#ff2c0f", "#331605")
                div#slider1a.col-md-4.well-lg(style="width: 100%")
            div.col-md-4.well-lg(style="width: 350px; height: 200px")
                div.col-md-4.well-lg(style="width: 300px; height: 150px; background: rgb(36, 30, 30)")
                    canvas#display2a(style="width: 100%; display: block")
                    script display2a = HydraDisplay("display2a", "#ff2c0f", "#331605")
                div#slider2a.col-md-4.well-lg(style="width: 350px")
            div.col-md-4.well-lg(style="width: 350px; height: 200px")
                div.col-md-4.well-lg(style="width: 300px; height: 150px; background: rgb(36, 30, 30)")
                    canvas#display3a(style="width: 100%; display: block")
                    script display3a = HydraDisplay("display3a", "#ff2c0f", "#331605")
                div#slider3a.col-md-4.well-lg(style="width: 350px")
        script fayeClient = new Faye.Client('http://localhost:3000/faye');
        script.
               setupDisplay(fayeClient, display1v);
               setupDisplay(fayeClient, display1a);
               setupSlider(["#slider1v","#slider2v","#slider3v"]);
               setupSlider(["#slider1a","#slider2a","#slider3a"]);
